<body class="bg-slate-50 h-svh">

  <!--搜尋欄-->
  <div class="max-w-4xl mx-auto py-12 px-6 lg:py-20">
    <div class="ml-10 relative w-full max-w-md">
      <i class="pi pi-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 text-lg pointer-events-none"></i>
      <input type="search" placeholder="搜尋店家、地址" class="w-3xl pl-10 pr-4 py-3 rounded-lg border border-gray-300
               focus:outline-none focus:ring-2 focus:ring-red-300
               focus:border-red-400 bg-white" />
    </div>
  </div>

  <!--輪播欄-->
  <section class="max-w-4xl mx-auto ">
    <p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="4000"
      [showIndicators]="true" [showNavigators]="true">
      <ng-template pTemplate="item" let-banner>
        <div class="banner">
          <img [src]="banner.image" [alt]="banner.title" class="banner-img" />
          <div class="banner-title">
            {{ banner.title }}
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>

  <!--開團中店家-->
  <section class="max-w-4xl mx-auto ml-60  ">
    <h2 class="text-2xl font-bold text-slate-900 mb-4 flex items-center">正在開團中</h2>
  </section>
</body>
